<!-- e_hospitality/templates/e_hospitality/add_medical_history.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Add Medical History</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Add Medical History</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Add Medical History</button>
        </form>
        <a href="{% url 'medical_history' %}" class="btn btn-secondary">Back to Medical History</a>
    </div>
</body>
</html>
