<h1>Appointment Management</h1>
<a href="{% url 'add_appointment' %}">Add Appointment</a>
<table>
    <tr>
        <th>Patient</th>
        <th>Doctor</th>
        <th>Department</th>
        <th>Date</th>
        <th>Time</th>
    </tr>
    {% for appointment in appointments %}
    <tr>
        <td>{{ appointment.patient }}</td>
        <td>{{ appointment.doctor }}</td>
        <td>{{ appointment.department }}</td>
        <td>{{ appointment.appointment_date }}</td>
        <td>{{ appointment.appointment_time }}</td>
    </tr>
    {% endfor %}
</table>
